<div id="pieChart">
    <cui-row>
        <cui-column column-size="4"></cui-column>
        <cui-column column-size="4" align="between">
            <cui-row align="between">
                <cui-column column-size="4" align="between">                    
                    <cui-pie-chart
                        [dataSet]="pieChartData"
                        [percent]="true"              
                    >
                    </cui-pie-chart>                    
                </cui-column>
            </cui-row>
        </cui-column>
    </cui-row>    
</div>